[Unit]
Description=Fava Web UI for Beancount

[Service]
Type=simple
ExecStart=/usr/bin/fava --host localhost --port 9999 /home/{{ grains['user'] }}/Documents/Finances/master-journal.beancount
User={{ grains['user'] }}
