{% set display_drivers = salt['grains.filter_by']({
    'titan': {
      'driver': 'xf86-video-amdgpu',
      'open_gl': 'mesa'
    },
    'neo': {
      'driver': 'xf86-video-nouveau',
      'open_gl': 'mesa'
    },
    'trinity': {
      'driver': 'xf86-video-amdgpu',
      'open_gl': 'mesa'
    }
}, grain="host") %}
