* {
  background-color: #2D2B40;
  border-color: #3E3859;
  text-color: #CBE3E7;
  spacing: 0;
  width: 700px;
  height: 500px;
}

inputbar {
  children: [prompt,entry];
}

prompt {
  padding: 16px;
}

textbox {
  background-color: #3E3859;
  padding: 8px 16px;
}

entry {
  padding: 16px;
}

listview {
  cycle: false;
  margin: 0 0 -1px 0;
  scrollbar: false;
}

element {
  padding: 16px;
  highlight: none;
}

element selected {
  text-color: #1e1c31;
  background-color: #A1EFD3;
}
